:root {
    --bg-color: #fff;
    --bg-secondary: #f9f9f9;
    --bg-primary: #ffb700;
    
    --text-color: #333;
    --text-secondary: #aaa;
    --text-white: #fff;
    --text-primary: #ffb700;

    --border-color: 1px solid #eee;
    --box-shadow: 5px 5px 10px #00000030;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
    color: var(--text-color);
}
@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul, ol {
    list-style: none;
}
html {
    font-family: 'Pretendard-Regular', 'Arial', 'sans-serif';
    color: var(--text-color);
}
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    background-color: var(--bg-color);
    width: 100%;
}
h2 {
    font-size: 32px;
    font-family: 'Pretendard-Bold', 'Arial', 'sans-serif';
    text-align: center;
    margin-bottom: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    font-size: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 5;
}
.logo {
    font-family: 'Pretendard-Bold', 'Arial', 'sans-serif';
    color: var(--text-primary);
}
.header-right {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 24px;
}
.nav-list li {
    font-family: 'Pretendard-Bold', 'Arial', 'sans-serif';
    transition: all 0.4s;
}
.nav-list li:hover, .nav-list li:hover a {
    color: var(--text-secondary);
}
.mode-btn {
    background-color: transparent;
    font-size: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #ccc;
    width: 36px;
    height: 36px;
    transition: all 0.4s;
}
.mode-btn:hover {
    background-color: #b18787;
}
#light-mode-btn {
    /* display: none; */
}

section {
    padding: 32px;
}
section:nth-child(2n+1) {
    background-color: var(--bg-secondary);
}
.highlight-text {
    text-decoration: underline;
    text-decoration-color: #ffb700;
    font-size: 1.3em;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/about-background-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-white);
    height: 92vh;
}
.about-header-text {
    font-size: 40px;
    line-height: 1.5;
}
.about-info-list {
    font-size: 24px;
    margin-top: 40px;
}
.about-info-list li {
    margin: 16px 0;
    color: var(--text-white);
    transition: all 0.4s;
}
.about-info-list li:hover {
    color: var(--text-secondary);
}
.about-container a {
    color: var(--text-white);
    transition: all 0.4s;
    margin-left: 8px;
}
.about-container a:hover {
    color: var(--text-secondary);
}

.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: var(--bg-secondary);
    border-radius: 25%;
    position: relative;
    transition: all 0.6s;
}
.skill-overlay {
    width: 80px;
    height: 80px;
    font-size: 12px;
    position: absolute;
    border-radius: 25%;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.skill-overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-white);
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}
.project-list li {
    border-radius: 16px;
    border: var(--border-color);
    box-shadow: 5px 5px 10px #00000020;
    background-color: var(--bg-color);
}
.project-list img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.project-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.project-info h3 {
    font-family: 'Pretendard-Bold', 'Arial', 'sans-serif';
}
.project-info p {
    margin: 8px 0;
}
.project-info a {
    color: #ffb700;
    text-decoration: underline;
    align-self: flex-end;
    font-size: 18px;
    font-family: 'Pretendard-Bold', 'Arial', 'sans-serif';
    margin-top: 8px;
}


.activity-list {
    display: flex;
    flex-direction: column;
}

.activity-list li {
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 32px;
    position: relative;
}
.activity-list li::before {
    content: '📍';
    position: absolute;
    left: 0;
    bottom: 0;
}
.activity-period {
    font-size: 14px;
    color: var(--text-secondary);
}

footer {
    padding: 40px 0;
    text-align: center;
    background-color: var(--bg-secondary);
}


@media (max-width: 900px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .project-list {
        display: block;
    }
    .project-list li {
        margin-bottom: 32px;
    }
    h2 {
        font-size: 24px;
    }
    .logo {
        font-size: 14px;
    }
    .nav-list {
        gap: 8px;
    }
    .nav-list li {
        font-size: 14px;
        display: none;
    }
    .nav-list li:last-child {
        display: block;
    }
    .about-header-text {
        font-size: 24px;
    }
    .about-info-list li {
        font-size: 14px;
    }
    .project-info {
        font-size: 14px;
    }
    .project-info h3 {
        font-size: 16px;
    }
    .project-info a {
        font-size: 16px;
    }
    .activity-list li {
        font-size: 14px;
    }
    .activity-period {
        font-size: 12px;
    }
    footer {
        font-size: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --bg-secondary: #333;
        --bg-primary: #ffb700;
        
        --text-color: #eee;
        --text-secondary: #aaa;
        --text-white: #fff;
        --text-primary: #ffb700;

        --border-color: 1px solid #333;
        --box-shadow: 5px 5px 10px #ffffff30;
    }
}